.clients-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
  }
  
  .clients-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .client-item {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 120px;
    margin-bottom: 1rem;
  }
  
  .client-logo {
    width: 100px;
    object-fit: contain;
  }
  